body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
}

body,
.header,
.main,
.main-body,
.footer {
  display: flex;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  padding-left: 1rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 1rem;
}

ul a {
  color: #fff;
  text-decoration: none;
}

.main {
  flex: 1;
}

.main-body {
  flex: 5;
  padding: 3rem;
  flex-flow: row wrap;
  gap: 1.5rem;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 350px;
  height: 400px;
  padding: 0.5rem;
}
